@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500i&display=swap');
.raleway{
  font-family: 'Raleway', sans-serif;
}
.samibold{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
body{
  margin: 0px;
}
.main-container{
  height: 2376px;
  width: 100%;
}
.sub-container{
  height: 100%;
  margin: 0 auto;
  width: 1225px;
}
.left-container{
  background-color: #353541;
  color: #ffffff;
  float: left;
  height: 100%;
  width: 275px;
}

.left-container .tab{
  display: table;
}
.left-container .row{
  display: table-row;
}
.left-container .cell{
  display:table-cell;
  border-collapse: collapse;
}
.left-container .closed{
  margin-top: -191px;
  margin-left: 48px;
  position: relative;
}
.left-container .h1{
  font-size: 32px;
  margin-top: 81px;
  margin-left: 29px;
}
.left-container .h2{
  font-size: 16px;
  margin-top: 7px;
  margin-left: 28px;
}

.left-container .height a{
  color: #ffffff;
  position: relative;
  text-decoration: none;  
  left: 30px;
  top: 16px;
}
.left-container .height{
  border-top:1px solid #242431;
  border-bottom:1px solid #242431;
  font-size: 22px;
  height: 60px;
  width:100%;
}
.right-container{
  clear: right;
  color: #ffffff;
  float: left;
  width: 950px;
}
.nav-toggle{
  display: none; 
  position: absolute;  
  width: 40px;
  height: 40px;  
  background: #EF5A42;
  cursor: pointer;
  left: 900px;
  top: 10px;  
}

.nav-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.active {
  max-height: 100% !important;
  
}
.right-container .main_header{
  font-size: 48px;
  left: 118px;
  top: 103px;
  position: absolute;
}
.right-container .subtitle{
  color: #cbcbcb;
  font-size: 14px;
  font-weight: 500;
  left: 186px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 166px;
  width: 492px;
}

header #button{
  left: 348px;
  position: absolute;
  top: 271px;
}
#button input{
  background-color: #fb6470;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  height: 49px;
  width: 170px;
}
.main_content{
  margin-top: -5px;
  width: 100%;
}
.right-container .t_content{
  display: table;
  width: 740px;
  margin: 0px auto 0 115px;
}
.right-container .row_header{
  display: table-row;
}
.right-container .cell_header{
  color:#3e3e3e;
  font-size: 32px;
  display: table-cell;
}
.right-container .cell_header .name{
  margin-left: -3px;
  margin-top: 73px;
}
#border_red{
  border-bottom: 2px solid #fb6470;
  margin-top: 12px;
  width: 76px;
}
.right-container .row_menu{
  color:#3e3e3e;
  display: table-row;
  font-size: 18px;
  font-weight: 600;
}
.right-container .cell_menu{
  display: table-cell;
  width: 25%;
}
.right-container .row_menu .branding{
  margin-left: 15px;
  margin-top: 40px;
}
.right-container .web_dsn{
  margin-left: 39px;
}
.right-container .animation{
  margin-left: 81px;
}
.right-container .ui_ux{
  margin-left: 130px;
}
.right-container .branding a, .web_dsn a, .animation a, .ui_ux a{
  color: #3e3e3e;
  text-decoration:none;
}
.right-container .cell_trait{
  display:table-cell;
}
.right-container header{
  position:relative;
}
.right-container .trait{
  border-bottom: 2px solid #cccccc;
  margin-top: 7px;
  height: 2px;
  width: 402%;
}
.right-container .red_trait{
  border-bottom:2px solid #f27982;
  height: 2px;
  width: 108px;
}
.main_content .main_img_menu{
  align-content: space-around;
  display:flex;
  flex-direction: column;
  height: 1099px;
  margin: 67px auto 0 115px;
  width: 740px;
}
.main_content .sub_img_menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
.main_content .tab_img_menu{
  display: flex;
  flex-direction: column;
  width: 359px;
}

.main_content .photo_1{
  display: flex;  
  position: relative;
  top: 1px;
}
.main_content .backgr_1{
  background-color: #01b9c3;
  display: flex;
  flex-direction: column;
  height: 131px;
  width: 100%;
}
.main_content .marketing{
  display: flex;
  font-size: 22px;
  left: 16px;
  position: relative;
  top: 13px;
}
.main_content .brand{
  display: flex;
  left: 16px;
  font-size: 16px;
  position: relative;
  top: 21px;
}
.main_content .view{
  border-bottom: 1px solid #ffffff;
  display: flex;
  font-size: 14px;
  height: 19px;
  left: 17px;
  position: relative;
  top: 46px;
  width: 93px;
}
.main_img_menu .view a{
  color: #ffffff;
  text-decoration: none;  
}
.main_content .backgr_2{
  background-color: #1e2e3e;
  display: flex;
  flex-direction: column;
  height: 131px;
  width: 100%;
}
.main_content .padd_sub_img_menu_1{
  margin-top: 18px;
}
.main_content .padd_sub_img_menu_2{
  position: relative;
  top: 20px;
}
.main_content .backgr_brown{
  background-color: #3f3d3e;
}
.main_content .backgr_blue{
  background-color: #0093b5;
}
.main_content .backgr_brown_1{
  background-color: #353541;
}
.main_content .purple{
  background-color: #6176ab;
}
#footer{
  display:flex;
  flex-direction: column;
  margin-top: 94px;
  width: 740px;
}
#footer .form_and_contacts{
  color:#3e3e3e;
  display:flex;
  flex-direction: row;
  width: 100%;
}
#footer #header_form{
  font-size: 22px;
}

#footer #form_order input{
  border:1px solid #71717a;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: italic;
  height: 31px;
  margin-bottom: 23px;
  padding-left: 12px;
  width: 251px;
}
#form_order .textarea_message{
  margin-top: -2px;
  height: 95px;
}
#footer #form_order textarea{
  border: 1px solid #71717a;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 23px;
  resize: none;
  height: 82px;
  padding-left: 12px;
  padding-top: 9px;
  width: 249px;
}
#footer .form{
  width: 45%;
}
#form_order .input_name{
  margin-top: 22px;
}
#form_order .input_email{
  margin-top: -2px;
}
#form_order #button input{
  background-color: #fb6470;
  border: none;
  border-radius: inherit;
  color: #ffffff;
  font-size: 16px;
  font-style: initial;
  font-family: 'Raleway', sans-serif;
  height: 35px;
  margin-left: 170px;
  margin-top: 22px;
  padding-left: 7px;
  width: 95px;
}
.form_and_contacts .contacts_container{
  display: flex;
  width:55%;
}
.contacts_container #trait_form{
  border-left: 1px solid #cccccc;
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  height: 250px;
  width: 1px;
}
.contacts_container .contacts{
  display: flex;
  flex-direction: column;
}
.contacts_container .contacts div{
  display: flex;
}
#location{
  flex-direction: row;
}
#location .address,
#email .address,
#call .address{
  flex-direction: column;
}
#location .address .head,
#email .address .head,
#call .address .head{
  color: #3e3e3e;
  font-size: 18px;
  margin-left: 45px;
  margin-top: 7px;
}
#location .address .description,
#email .address .description,
#call .address .description{
  color: #6f6f6f;
  font-size: 14px;
  margin-left: 45px;
  margin-top: 18px;
}
#location .home{
  margin-left: 53px;
  margin-top: 21px;
  height: 30px;
  width: 32px;
}
#email .aircraft{
  margin-left: 53px;
  margin-top: 21px;
  height: 30px;
  width: 32px;
}
#call .phone{
  margin-left: 53px;
  margin-top: 21px;
  height: 30px;
  width: 32px;
}
#email, #call{
  margin-top: 48px;
}
.social .row_social{
  display: table-row;
}
.social .cell_twitt{
  display: table-cell;
  width: 25px;
}
.social .cell_skype{
  display: table-cell;
  width: 30px;
}
.social .cell_dribbble{
  display: table-cell;
  width: 30px;
}
.social .t_social{
  display: table;
  width: 124px;
  margin: 85px auto auto 309px
}

.social .cell_twitt img{
  position: relative;
  left: 3px;
  top: 1px;
}

.social .cell_skype div{
  border-left: 1px solid #acacac;
  height: 19px;
}
.social .cell_skype img{
  position: relative;
  top: 2px;
  left: 14px;
}
.social .cell_dribbble div{
  margin-left: 1px;
  border-left: 1px solid #acacac;
  height: 19px;
}
.social .cell_dribbble img{
  position: relative;
  top: 2px;
  left: 13px;
}


#footer .name_company{
  color: #3e3e3e;
  font-size: 12px;
  margin-left: -7px;
  margin-top: 12px;
  text-align: center;
}

/* Альбомная и книжная ориентация планшет*/
@media (min-width: 768px) and (max-width: 1024px) {
  .left-container{
    background-color: #353541;
    color: #ffffff;
    left: 764px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 9px;  
    width: 275px;
    z-index: 3;     
  }
  .nav-toggle{
    display: block;
  }
  .right-container{
    float: none;
    margin: 0 auto;
  } 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .left-container{
    background-color: #353541;
    color: #ffffff;
    left: 764px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 9px;  
    width: 275px;
    z-index: 3;     
  }
  
  .main_content .marketing {
    display: flex;
    font-size: 26px;
  }
  .main_content .brand {
    display: flex;
    left: 16px;
    font-size: 20px;
  }
  .main_img_menu .view{
    font-size:18px;
    width:120px;
  }
   
  .nav-toggle{
    display: block;
  }
  .right-container{
    float: none;
    margin: 0 auto;    
  }
  #form_order #button input{
    font-size: 24px;
    height: 40px;
    margin-left: 124px;
    width: 145px;
  }  
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px){
  .left-container{
    background-color: #353541;
    color: #ffffff;
    left: 764px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 9px;  
    width: 275px;
    z-index: 3;     
  }
  .right-container .t_content {
    display: table;
    width: 910px;
    margin: 0px auto;
  }
  .right-container .cell_header {
    font-size: 60px;
  }
  .right-container .trait {
    width: 387%;
  }
  .right-container .red_trait {
    width: 144px;
  }
  #border_red {
    width: 138px;
  }
  .main_content .sub_img_menu {
    display: flex;
    flex-direction: column;
    margin-bottom: -17px;       
  }
  .main_content .tab_img_menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    width: 100%;    
  }
  .main_content .photo_1{
    display: flex;    
    position: relative;
    top: 1px;
  }
  .main_content .main_img_menu {
    align-content: space-around;
    display: flex;
    flex-direction: column;    
    margin: 67px auto auto auto;
    width: 950px;
  }
  .main_content .tab_img_menu img{
    width:100%;
  }
  .main_content .marketing {
    display: flex;
    font-size: 30px;
  }
  .main_content .brand {
    display: flex;
    left: 16px;
    font-size: 24px;
  }
  .main_img_menu .view{
    font-size:22px;
    top:30px;
    width:148px;
  }
  .nav-toggle{
    display: block;
  }
  .right-container{
    float: none;
    margin: 0 auto;    
  }
  .right-container .row_menu {
    font-size: 30px;
  } 
  .right-container .cell_header {
    font-size: 36px;
  }
  #form_order #button input{
    font-size: 24px;
    height: 50px;
    margin-left: 134px;
    width: 120px;
  }  
  #footer #form_order textarea{
    font-size: 18px;    
  }
  #footer #header_form{
    font-size: 26px;
  }